.btn {
    height: 50px;
    border: solid #ffffff 2px;
    margin: 2px;
    margin-left:4px;
    margin-top: 4px;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    transition: all ease 0.2s;
    
}

.btn> a{
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}
.btn> a>img{
    width: 30px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    transform:scale(1.05);
}


.active {
    background-color: #fff;
    color: #000;
    transform:scale(1.05);
}


.output-section > .btn {
    display: block;
    width: 28%;
    align-self: center;
}
