.header{
    height: 15vh;
    width: 100%;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, #149414  93.2% );
    box-shadow:0px 25px 50px linear-gradiant(black white black);

}

.header p{
    color: #ffffff;
    text-align: center;
    line-height: 15vh;
    font-size: 4rem;
}


.contact-section{
    height: 7vh;
    width: 100%;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, #149414  93.2% );
    box-shadow:0px 25px 50px linear-gradiant(black white black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icon{
    background-color: transparent;
    height: 35px;
    width: 35px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 8px -4px #ffffff;
}

.icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.icon:hover{
    background-color: #fff;
    box-shadow: 5px 2px 8px -4px #000000;
}


.icon img{
    height: 20px;
    width: 20px;
    filter:invert(93);
}


.icon img:hover{
    filter:invert(0) ;
}

