@import url(header.css);
@import url(form.css);
@import url(button.css);
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
}




.merge-header-calculator{
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, #149414   93.2% );
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


#container{
    height: 60vh;
    width: 100%;
    border: solid 1px #d7d7d7;
    margin-right: 10px;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}

.input-section{
    height: 70%;
    width: 100%;
    /* border: solid white 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.output-section{
    height: 30%;
    width: 100%;
    /* border: solid white 1px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fill-ip-section{
    height: 100%;
    width: 70%;
    /* border: solid white 1px;   */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.operation-section{
    height: 100%;
    width: 30%;
    /* border: solid white 1px;   */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 10px 10px 10px;
    gap: 10px;
    overflow-y: scroll;
   
}

.operation-section > .form-style{
   border: solid 1px #a4a3a3;
}

.form-style:placeholder-shown{
    color: #8f8f8f;
}





/* Change window for phone */
@media (max-width: 1108px) {
    .merge-header-calculator{
        flex-direction: column;
        align-items:center;
        justify-content: start;
        padding-top: 10px;
    }
    #container{
        margin: 10px;
    }

    .header p{
        font-size:2.1rem ;
    }
    
}